.form-container {
    display: flex;
    flex-direction: column;
  }
  
.form-container > * {
    width: 100%;
}

mat-form-field{
    width: 90%;
    max-width: 90%;
    max-height: 20%
}
.textarea{
    resize: none;
}
mat-card{
    max-width:40%;
} 

.mat-hint{
    font-size:10px;
}

.mat-error{
    font-size:10px;
}

.auth-container{
    background-image: url("https://i.imgur.com/2D8YE2i.png");
    height: 100vh;
    width: 100vw;
}
textarea {
    resize: none;
 }