<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img src="https://i.imgur.com/3zrUKY2.jpg" alt="bg1" > 
    <div class="carousel-caption">
      <h3>EDITAIS</h3>
      <p>Solicite um Projeto</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://i.imgur.com/7SLckAU.jpg" alt="bg2" > 
    <div class="carousel-caption">
      <h3>DESTAQUE 2</h3>
      <p>Legenda do Destaque</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://i.imgur.com/SEjBmfY.jpg" alt="bg3" > 
    <div class="carousel-caption">
      <h3>DESTAQUE 3</h3>
      <p>Legenda do Destaque</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://i.imgur.com/2ut7hQi.png" alt="bg4" > 
    <div class="carousel-caption">
      <h3>DESTAQUE 4</h3>
      <p>Legenda do Destaque</p>
    </div>
  </ng-template>
</ngb-carousel>
