<html>
   <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
   <mat-toolbar color="primary" *ngIf="nav.visible">
      <div>
         <a class="router" routerLink="/">
         <span>PUMA</span>
         </a>
      </div>
      <a class="imgLogo" routerLink="/auth/dashboard/">
      <img src="/assets/imgs/logo.png" alt="logo" height="80" width="110"> 
      </a>
      <span class="spacer"></span>
      <div *ngIf="nav.registerVisible">
         <a class="router" routerLinkActive="active" routerLink="/register">
            <button mat-button>
               <span>REGISTRE-SE </span>
               <mat-icon>person_add</mat-icon>
            </button>
         </a>
      </div>
      <div *ngIf="nav.loginVisible" >
         <a class="router" routerLinkActive="active" routerLink="/login">
            <button mat-button>
               <span>ENTRAR</span>
               <mat-icon>person</mat-icon>
            </button>
         </a>
      </div>
      <div>
         <a class="sub">
         <span>PLATAFORMA UNIFICADA DE METODOLOGIA ATIVA</span>
         </a>
      </div>
   </mat-toolbar>
   <router-outlet></router-outlet>
</html>
