<mat-toolbar color="primary">
        <mat-toolbar-row>
          <div>
            <a class="router" routerLink="/">
              <span>PLATAFORMA UNIFICADA DE METODOLOGIA ATIVA</span>
          </a>
        </div>
              <span class="spacer"></span>
            <a class="router" routerLinkActive="active" routerLink="/register">
              <button mat-button>
                <span>REGISTRE-SE </span>
                <mat-icon>person_add</mat-icon>
              </button>
            </a>
            <a class="router" routerLinkActive="active" routerLink="/users">
              <button mat-button>
                <div id='dropdown'>
                  <li class='detail'><a href='#'><span>ENTRAR</span></a>
                    <ul>
                        <li><input type="text" placeholder="Name"></li>
                        <li><input type="text" placeholder="Email"></li>
                    </ul>
                  </li>
                </div>
                <mat-icon>account_circle</mat-icon>
              </button>
            </a>
        </mat-toolbar-row>
      </mat-toolbar>

<router-outlet></router-outlet>
