<ngb-carousel *ngIf="images" >
  <ng-template ngbSlide>
    <img src="https://i.imgur.com/wE4yvG3.jpg" alt="bg1" class="auth-container" > 
    <div class="carousel-caption">
      <h3>EDITAIS</h3>
      <p>Solicite um Projeto</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://i.imgur.com/jBNaQ2k.jpg" alt="bg2" class="auth-container" > 
    <div class="carousel-caption">
      <h3>DESTAQUE 2</h3>
      <p>Legenda do Destaque</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://i.imgur.com/JBGwbd0.jpg" alt="bg3" class="auth-container" > 
    <div class="carousel-caption">
      <h3>DESTAQUE 3</h3>
      <p>Legenda do Destaque</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="https://i.imgur.com/P2yfKw0.jpg" alt="bg4" class="auth-container" > 
    <div class="carousel-caption">
      <h3>DESTAQUE 4</h3>
      <p>Legenda do Destaque</p>
    </div>
  </ng-template>
</ngb-carousel>
