<mat-card class="mat-card">
  <mat-card-title>REGISTRE-SE</mat-card-title>

  <div class="form-container">
    <mat-form-field appearance="outline" required>
      <mat-label>Nome *</mat-label>
      <input maxlength="120" matInput [(ngModel)]="user.name">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

     <mat-form-field appearance="outline" required>
      <mat-label>CPF*</mat-label>
      <input maxlength="12" matInput>
      <mat-icon matSuffix>account_box</mat-icon>
     </mat-form-field>

      <mat-form-field appearance="outline" required>
      <mat-label>Telefone 1 *</mat-label>
      <input maxlength="11" matInput [(ngModel)]="user.telefone1">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>            

    <mat-form-field appearance="outline" required>
      <mat-label>Telefone 2 *</mat-label>
      <input maxlength="11" matInput [(ngModel)]="user.telefone2">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>            

    <mat-form-field appearance="outline" required>
      <mat-label>Telefone 3</mat-label>
      <input maxlength="11" matInput [(ngModel)]="user.telefone3">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>            

    <mat-form-field appearance="outline" required>
      <mat-label>E-mail *</mat-label>
      <input maxlength="70" matInput [(ngModel)]="user.email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    
  <!--   <mat-form-field appearance="outline" required>
      <mat-select [(ngModel)]="user.escolaridades">
        <mat-option *ngFor="escolaridades" [value]="escolaridades.value">{{ escolaridades.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field appearance="outline" required>
      <mat-label>Profissão *</mat-label>
      <input maxlength="70" matInput [(ngModel)]="user.profissao">
      <mat-icon matSuffix>people</mat-icon>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" required>
      <mat-label>Senha*</mat-label>
      <input maxlength="30" matInput [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" required>
        <mat-label>Confirme sua senha*</mat-label>
        <input maxlength="30" matInput [type]="hideConfirm ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div> -->

    <button mat-raised-button	color="primary" (click)="createUser()">CONFIRMAR</button>

    <div>
      <mat-hint>* Campos obrigatorios</mat-hint>
    </div>
  </div>
</mat-card>
